.form {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   margin: 1rem;
   padding: 2rem;
   width: 100vw;

   button {
      width: 30vw;
      height: 5vh;
      margin: 1rem 0;
   }
}