label {
    margin: 0.5rem;

    input {
        margin: 0.5rem;
        height: 2.5rem;
        border: #fff 2px solid;
        border-radius: 15px;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
    }

    input[type='checkbox']{
        position:relative;
    }

    input[type='checkbox']:after {
        border: 3px solid deepskyblue;
    }

    input[type='checkbox']:checked  {
        height: 100%;
        width: 100%;
        outline: 2px deeppink solid;
    }
}



