.checkbox-wrapper {
    cursor: pointer;
    margin: 1rem;
    padding: 0.5rem;
    border: var(--border);
    border-radius: var(--border-radius);
    overflow: auto;
    font-size: var(--font-size);
}

.checkbox-wrapper:hover {
    background-color: var(--font-color);
    color: var(--primary-color);
}

.checkbox-label {
    cursor: pointer;
}
