.input-label {
    .generic-input {
        background-color: inherit;
        margin: 0.5rem;
        height: 2.5rem;
        border: var(--border);
        border-radius: var(--border-radius);
        padding: 0.5rem 1rem;
        font-size: var(--font-size); 
        color: var(--font-size)
    }
}



