:root {
    --primary-color: #005347; /* Brunswich green */
    --secondary-color: #06D6A0; /* Emerald */
    --tertiary-color: #114069; /* Indigo dye */
    --accent-color: #EF476F; /* Bright pink */
    --font-color: #FFF;

    --border: 2px var(--font-color) solid;
    --border-radius: 10px;

    --font-size: 1.5rem;

    --padding: 2rem;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: var(--primary-color);
    color: var(--font-color);

}